# Node.js dependencies
node_modules

# Environment variables
.env

# Compiled binary addons
build/Release

# Log files
*.log

# Dependency directories
packages/

# macOS metadata
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Directory contents
/models/*
.next